
paper-toolbar.drawer_toolbar{
  background-color:#263238;
}

paper-toolbar.main_toolbar{
  background-color:#ffffff;
}

paper-ripple{
  color:#ffffff
}
a {
    text-decoration: none !important;
    color: inherit;
}

.title{
  color: black;
  font-size: 20px;
}

.paper_toolbar_main{
  background-color: #fafafa;
}
.paper_toolbar_drawer{
  background-color: #607d8b;
}
paper-icon-button.white {
        color: #607d8b;
}
#logo{
  padding-left: 55px;
  padding-top: 140px;
}
/*paper-material {
        display: inline-block;
        background: white;
        box-sizing: border-box;
        margin: 16px;
        padding: 16px;
        border-radius: 2px;
      }
*/


  .demo_heading {
          display: inline-block;
          background: white;
          box-sizing: border-box;
          margin: 16px;
          padding: 16px;
          border-radius: 2px;


        }
  .demo-cards {
        /*height:225px;*/
        width:280px;
        display: inline-block;
        background: white;
        box-sizing: border-box;
        margin: 16px;
        border-radius: 2px;
        font-weight: 300;
        }

.main_content_area{
  position: relative;
}

paper-material.iron-pages-demo-cards {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
    /*margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    display:block;*/
    background: white;
    box-sizing: border-box;
    border-radius: 10px;
    font-weight: 300;
    /*width:600px;*/
  }

paper-material.iron-pages-demo-cards-feedback {

    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    display:block;
    */
    background: white;
    box-sizing: border-box;
    border-radius: 10px;
    font-weight: 300;
    /*width:100%;*/
  }
  .demo_card_content{
    font-size: 1.25em;
  }
  .demo_buttons{
    margin-left:105px ;
    margin-top: 45px;
    margin-right: 5px;
    margin-bottom: 5px;
  }
  a {
      text-decoration: none !important;
      color: inherit;
  }

